body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: sans-serif;
  background-image: url('./sw-bg.jpg');
  background-size: cover;
  box-sizing: border-box;
  font-size: 62.5%;
}
